/*MAIN INDEX*/

.body-index{
    .main-index{
        text-align: center;
        font-size: 22px;
        margin-top: 50px;
        h1{
            color: white;
            text-shadow: 4px 4px 4px black;
            
        }
        h2{
            color: white;
            text-shadow: 7px 7px 7px #ff2828;
        }
    }
}